.btn-confirm-delete{
    width: 150px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-cancel-delete{
    width: 150px;
}

.btn-add-review{
    display: block;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    width: 150px;
}

.btn-review-delete {
    width: 200px;
}

.spot-image {
    width: 750px;
    height: 650px;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
}

.review-box{
    border-color: black;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border: solid black;

}

.spot-reviews {
    display: flex;
    flex-direction: row;
    border-top: dashed #767676;
}

.review-title{
    margin: 5px 0px 0px 0px;
}

.review-text {
    margin: 5px 5px 10px 10px;
}
