.btn-confirm-delete{
    width: 150px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-cancel-delete{
    width: 150px;
}

.btn-add-review{
    display: block;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    width: 150px;
}

.btn-review-delete {
    width: 200px;
}

.spot-container {
    width: 80%;
    align-items: center;
}
.spot-image-container{
    display: flex;
    justify-content: center;
}
.spot-title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 32px;
}

.spot-image {
    width: 650px;
    height: 550px;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
}

.spot-price {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.spot-details-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.spot-details {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.review-box-container {
    display: flex;
}

.review-box{
    margin-top: 20px;
}
.review-header{
    margin: 5px 5px 10px 10px;
    padding: 10px
}

.spot-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.user-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.review-title{
    margin: 5px 5px 10px 10px;
    color: #00A699;
    display: flex;
    text-align: left;
    font-weight: bold;
}

.review-text {
    margin: 5px 5px 10px 10px;
}
.review-rating{
    margin: 5px 5px 10px 10px;
    text-align: center;
}
