.btn-confirm-delete{
    width: 150px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-cancel-delete{
    width: 150px;
}

.image-spot {
    width: 500px;
    height: 500px;
    border-radius: 10%;
}

.reviewBox{
    border-color: black;
}
