
/* section-spots-list */
.section-spots-list{
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}


.spot-list-header {
    font-size: 3.6rem;
    text-align: center;
}

.spots-list-container {
    width: 100%;
}

.spots-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 9.6rem;
    column-gap: 6.4rem; */
}

/* Spots Card */

.spot-item-container{
    max-width: 30rem;
}

.spot-card {
    max-width: 40rem;
    height: 40rem;
    /* background-color: #0088a9; */
}

.spot-image-container{
    height: 75%;
    width: 100%;
}

.spots-list-image {
    border-radius: 5%;
    padding: 5px;
    margin: 5px;
    height: 95%;
    width: 95%;
    object-fit: cover;
}

.spot-info {
    height: 25%;
    width: 100%;
    margin-left: 1.6rem;
}

.spot-name {
    font-size: 1.4rem;
    color: rgb(72, 72, 72);
}

.spot-host {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(72, 72, 72);
}

.spot-location{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(72, 72, 72);
}

.spot-list-price{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(72, 72, 72);
}

.editButton {
    display: block;
    width: 8.4rem;
    height: 3.0rem;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 2.5rem;
    border-radius: 2.0rem;
    padding: 0.5rem 2.0rem;
    margin: 1.0rem 1.0rem;
    text-decoration: none;
}

.editButton:hover {
    background-color: #0088a9;
    color: #fff;
}


/* Media query */

@media (max-width: 1299px) {
    .spots-list-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
