/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Defualt: 400
medium: 500
semi-bold: 600
Bold: 700

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-Border Radius (px)

Default: 24px

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 1;
    color: rgb(72, 72, 72);
}

ul {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--center--v {
    align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-third {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 4.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary{
    font-size: 3.0rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
    letter-spacing: 0.75px;
}


button {
    display: block;
    width: 12.8rem;
    height: 3.2rem;
    text-align: center;
    background: transparent;
    outline: solid #767676;
    outline-width: none;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 0;
    text-decoration: none;
}

button:hover {
    color: #0088a9;
    cursor: pointer;
}

.btn-Log-in-Log-out {
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;

}

/* Positional helper classes */

.center-text {
    text-align: center;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.margin-bottom-md{
    margin-bottom: 4.8rem !important;
}

.margin-bottom-sm {
    margin-bottom: 3.2rem !important;
}

.margin-top-sm {
    margin-top: 2.4rem !important;
}

/* Errors */

.errors {
    color: red;
    margin: 0px;
    font-size: 1.6rem;
  }
