.sign-up-form{
    display: flex;
    flex-direction: column;
}

.form-label {
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
    border: 1px solid #888;
    width: 80%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
