nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    z-index: 1;
}

.img-logo{
    height: 60px;
    width: 200px;
}

.navList {
    display: flex;
    width: 99%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.navButton {
    display: block;
    width: 115px;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;

}

.navList-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navButton-signUp{
    display: block;
    width: 115px;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;
}
