nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    padding: 0 36px;
    position: relative;
}

.img-logo{
    height: 60px;
    width: 200px;
}

.navList {
    display: flex;
    width: 99%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navList li a {
    transition: all 0.3s ease 0s;
}

.navList li a:hover {
    color: #0088a9;
}

.navList li button {
    transition: all 0.3s ease 0s;
}

.navList-home {
    margin-right: auto;
}

.nav-button-container{
    display: flex;
}

.navButton {
    display: block;
    width: 115px;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;

}

.navButton:hover {
    color: #0088a9;
}

.navList-item {
    display: inline-block;
    padding: 0px 20px;
}

.navButton-signUp{
    display: block;
    width: 115px;
    height: 35px;
    background: transparent;
    outline: solid #767676;
    outline-width: thin;
    text-align: center;
    color: #484848;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    color: #FFFFFF;
    background-color: #767676;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-item{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-item button {
    background-color: #FF5A5F;
    color: #FFFFFF;
}
